<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h2><%= company.name %></h2>
	<hr>
	<ol>
		<li>Company ID: <%=company.id%></li>
		<li>Country <%=company.country%></li>
		<li>Year of establishment: <%=company.yearOfEstablishment%></li>
		<li>Rating: <%= company.rating %></li>
	</ol>	
</body>
</html>